
POSTGRES_DB=market_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6379

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8003
KEYCLOAK_REALM=market

MARKET_OAUTH_CLIENT_ID=market-app
MARKET_OAUTH_CLIENT_SECRET=market-app-secret

MARKET_DEFAULT_USER_USERNAME=buyer
MARKET_DEFAULT_USER_PASSWORD=buyer
